# {{ ansible_managed }}

# BASE (주의: 환경 변수의 기준 값으로 변수 값 내에 다른 환경 변수를 참조하면 안됨)
export SKP_USER="{{ skp_user }}"
export SKP_USERID=$(id -u $SKP_USER)
export SKP_USER_HOME="{{ skp_user_home }}"
export SKP_HOME="{{ skp_home }}"
export SKP_CURR="{{ skp_curr }}"
export SKP_DATA="{{ skp_data }}"

export SKP_N4E="${SKP_CURR}/n4e"
export SKP_D4R="${SKP_CURR}/d4r"
export SKP_K8S="${SKP_CURR}/k8s"
export KUBECTL="kubectl"

# LOCALE
export LOCALE="{{ locale }}"

# PYTHON
export PYENV_PYVER="{{ pyenv_pyver }}"
export PYENV_VENV="{{ pyenv_venv }}"
export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
pyenv activate ${PYENV_VENV} 

# NODEJS - N
export N_PREFIX="${SKP_USER_HOME}/n"; [[ :$PATH: == *":$N_PREFIX/bin:"* ]] || PATH+=":$N_PREFIX/bin"  # Added by n-install (see http://git.io/n-install-repo).
